.container{
    margin-top: 5%;
}
button{
    width: 100%;
}
.portada{
    height: 200px;
    width: 400px;
}
.noticia{
    margin-bottom: 3%;
    margin-top: 3%;
}
.textResum{
    left: 5%;
    text-align: left;
    margin-bottom: 5%;
}
.lineaHR{
    margin-top: 3%;
    width: 100%;
    border-bottom: 1px solid black;
}