<body>
<div class="container-fluid video">
<div class="row">

  <video autoplay muted loop id="myVideo">
    <source src="https://bnetcmsus-a.akamaihd.net/cms/template_resource/pb/PBDOJHUUIDIL1459385840550.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
  </video>

  <!-- Text sobre video -->
  <div class="overlay">
      <h1>WORLD OF WARCRAFT</h1>
        <h2>Estaves destinat per aquest món.</h2>
        <!--<button type="submit">Jugar</button>-->
  </div>



</div>

</div>

<!-- Noticies Video -->
<div class="container noticies">
  <h4>ÚLTIMES NOTÍCIES</h4>
  <div class="row" style="height: 100%">
    <div *ngFor="let new of latestNews" class="col-sm-3">

        <a [routerLink]="['/news', new.IDNot]"><img src="../../../assets/noticies/{{new.ImatgePortada}}" alt="{{new.Titol}}" class="thumbnail"></a>
        <a [routerLink]="['/news', new.IDNot]"><p>{{new.Titol}}</p></a>
          <!--<p>{{new.Data}}</p>-->

    </div>
  </div>
</div>

<div class="container-fluid">
<div class="row">
  <div class="contingut1">
    <div class="contingut">
      <h2>Forja el teu destí</h2>
      <p>Jura lleialtat a una de les dues faccions en guerra, l'Aliança o la Horda. Uneix-te o crea un grup d'aventurers com tu, i enfronta't als enemics d'Azeroth com una de les dotze classes úniques i tretze races disponibles. Puja de nivell i acumula poder al teu propi ritme.</p>
    </div>
  </div>
</div>
</div>

<div class="container-fluid">
<div class="row">
  <div class="contingut2">
    <div class="contingut">
      <h2>Un regne sense límits</h2>
      <p>Exploreu el món d'Azeroth, un lloc d'aventura i acció sense parar. Experimenta històries i missions èpiques. Planta cara a dracs mortals, troba artefactes mítics, o simplement visita un racó agradable i tranquil del món per per practicar una mica de pesca.</p>
    </div>
  </div>
</div>
</div>

<div class="container-fluid">
<div class="row">
    <div class="col-lg">
      <div class="contingut3">
        <img src="https://bnetcmsus-a.akamaihd.net/cms/template_resource/GJP5D4W9HLGG1458162657931.jpg" alt="" width="100%" height="100%">
      </div>
      <div class="contingut-doble">
        <h4>Jugador contra entorn</h4>
        <h3>El botí de guerra</h3>
        <p>Les masmorres ocultes per tot el món, enfronten a aquells que s'atreveixen a endinsar s'hi, contra les criatures i més atroçes d'Azeroth. Tens el que es necessita per triomfar i reclamar les relíquies ancestrals que posseeixen?</p>
      </div>
    </div>
    <div class="col-lg">
      <div class="contingut4">
        <img src="https://bnetcmsus-a.akamaihd.net/cms/template_resource/ESPAQ9ULC5QE1458162658321.jpg" alt="" width="100%" height="100%">
      </div>
      <div class="contingut-doble">
        <h4>Jugador contra jugador</h4>
        <h3>Conflicte despietat</h3>
        <p>Coneix als teus enemics en el camp de batalla i porta als teus amics perquè s'uneixin al combat! Competeix en camps de batalla únics amb objectius establerts, o lluita fins al final per la glòria i l'honor a l'Arena de gladiadors.</p>
      </div>
    </div>
</div>
</div>

<div class="container-fluid">
<div class="row">
<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
    <!--First slide-->
    <h2 style="padding-top: 3vh; padding-bottom: 3vh;">Que hi ha de nou?</h2>
    <mdb-slide>
        <div class="view">
            <img class="d-block w-100" src="http://www.allmmorpg.ru/wp-content/uploads/2018/01/12611-allied-race-character-creation-screen-requirements.jpg" alt="Les oves races aliades">
            <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
            <h3 class="h3-responsive">Races Aliades</h3>
            <p>Feu una ullada a les noves races jugables que arriben a Battle for Azeroth, incloent-hi els Draenei Forjats per la Llum, els Tauren de Mont Alt i d'altres.</p>
        </div>
    </mdb-slide>
    <!--/First slide-->
    <!--Second slide-->
    <mdb-slide>
        <div class="view">
            <img class="d-block w-100" src="https://bnetcmsus-a.akamaihd.net/cms/template_resource/5P49VFUZVC7F1522889989662.jpg" alt="Legion gratis amb precompra de BfA">
            <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
            <h3 class="h3-responsive">Obteniu Legion Gratis</h3>
            <p>Pre-compra Battle for Azeroth i aconsegueix Legion de forma gratuïta! Inclou una pujada al nivell 110 per al personatge que vulguis. Explora les Illes Abruptes i prepara't per a la guerra!</p>
        </div>
    </mdb-slide>
    <!--/Second slide-->
    <!--Third slide-->
    <mdb-slide>
        <div class="view">
            <img class="d-block w-100" src="https://i.ytimg.com/vi/jSJr3dXZfcg/maxresdefault.jpg" alt="Mira la cinemàtica de BfA">
            <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
            <h3 class="h3-responsive">Trailer de Battle for Azeroth</h3>
            <p>Un nou capítol de l'èpica saga Warcraft arribarà. Mireu la cinemàtica d'obertura mentre esclata una guerra total entre l'Aliança i l'Horda.</p>
        </div>
    </mdb-slide>
    <!--/Third slide-->
</mdb-carousel>
<!--/.Carousel Wrapper-->
</div>
</div>

<div class="cotnainer-fluid">
<div class="contingut5">
  <div class="row" style="height: 100%; width: 100vw;">
    
    <div class="col-lg-6">
      <h2>Pre-compra ja Battle For Azeroth</h2>
      <p>Comenceu el vostre viatge per reclutar noves races aliades jugables amb la edició digital de col·lecionista.</p>
      <a [routerLink]="['/product/digital', '11']"><button type="button" class="button" mdbWavesEffect>Compra Ja!</button></a>
    </div>
    <div class="col-lg-6">
        <p>També inclou:</p>
      <ul>
        <li>World of Warcraft Ravasauri daurat de la Horda. (Muntura)</li>
        <li>Cavall de batalla de l'Aliança. (Muntura)</li>
        <li>Tottle, el nadó Tortuga. (mascota) </li>
        <li>Augment del personatge al nivell 110.</li>
        <li>Dors de carta temática de BfA (Hearthstone)</li>
        <li>Muntura del Flamejador Primal (Heroes of the Storm)</li>
        <li>Tracer Alliance Banner & Horde Banner (Overwatch)</li>
        <li>Dors de carta temática de BfA (Hearthstone)</li>
      </ul>
    </div>
  </div>
</div>
</div>
</body>
