<div class="container-fluid video">
  <div class="row">
  <video autoplay muted loop id="myVideo">
  <source src="https://bnetcmsus-a.akamaihd.net/cms/template_resource/pb/PBDOJHUUIDIL1459385840550.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
  </video>
  <!-- Optional: some overlay text to describe the video -->
  <div class="noticies">
    <h1>Últimes notícies</h1>
    <p>Lorem ipsum...</p>
  </div>

  </div>


<div class="row">
  <div class="contingut1">
    <div class="contingut">
      <h2>Forja el teu destí</h2>
      <p>Jura lleialtat a una de les dues faccions en guerra, l'Aliança o la Horda. Uneix-te o crea un grup d'aventurers com tu, i enfronta't als enemics d'Azeroth com una de les dotze classes úniques i tretze races disponibles. Puja de nivell i acumula poder al teu propi ritme.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="contingut2">
    <div class="contingut">
      <h2>Forja el teu destí</h2>
      <p>Jura lleialtat a una de les dues faccions en guerra, l'Aliança o la Horda. Uneix-te o crea un grup d'aventurers com tu, i enfronta't als enemics d'Azeroth com una de les dotze classes úniques i tretze races disponibles. Puja de nivell i acumula poder al teu propi ritme.</p>
    </div>
  </div>
</div>
</div>
