/* Style the video: 100% width and height to cover the entire window */
#myVideo {
   position: static;
   right: 0;
   bottom: 0;
   min-width: 100%;
   min-height: 100%;
}

body{
  background-color: #0c0806;
  color: white;
  font-family: "Trebuchet MS";
}

.overlay {
    position: absolute;
    top:40%;
    //left:25%;
    margin: auto;
    z-index:1;
    color: white;
    align-items: center;
    text-align: center;
    width: 100%;
}

.video{
    height: 100%;
}
/* Add some content at the bottom of the video/page */
.noticies {
   position: static;
   bottom: 0;
   background: rgba(25, 10, 0, 0.5);
   color: white;
   width: 100%;
   padding-left: 10vh;
   padding-right: 10vh;
   padding-top: 5vh;
   z-index: 1
}


//.noticia{
  //background-image: ur(../../../assets/noticies/{{new.ImatgePortada}});
//}

.row{
  border-bottom-style: solid;
  border-bottom-width: thick;
  border-bottom-color: black;
}

h1 {
    font-size: 15vh;
    font-weight: bolder;
    color: white;
    margin-bottom: 10vh;
}

h2 {
    font-size: 8vh;
    font-weight: bolder;
    color: white;
    text-align: center;
    padding-bottom: 5vh;
}

h3 {
    font-size: 5vh;
    font-weight: bolder;
    color: white;
    padding-bottom: 2vh;
}

h4 {
    font-weight: bolder;
    color: white;
}

a {
  color: goldenrod;
  font-weight: bold;
}

.col-lg {
  border-right-style: solid;
  border-right-width: medium;
  border-color: black;
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.col-lg-6 {
  padding: 10vh;
  width: 100%;
  align-items: center;
  justify-content: center;

}

.col-sm-3 {
  padding-top: 3vh;
  padding-bottom: 3vh;
  align-items: center;
  text-align: center;
}

.contingut {
  text-align:center;
  padding-top: 25vh;
  //padding-bottom: 20vh;
  height: 80vh;
  width: 50%;
  margin: auto;
  color: white;
}

.contingut-doble {
  text-align: center;
  background-color: #0c0806;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 10%;
  padding-bottom: 5%;
  color: white;
}

.contingut1 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("https://bnetcmsus-a.akamaihd.net/cms/gallery/DSG8UJXQ9XAA1522934529298.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    font-size: 3vh;
    font-weight: bold;
    color: white;
    height: 80vh;
}

.contingut2 {
    background-image: url("https://bnetcmsus-a.akamaihd.net/cms/gallery/COT8M2SUIAXT1509668970805.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    font-size: 3vh;
    font-weight: bold;
    height: 80vh;
}

.contingut3 {
    margin-bottom: 5vh;
    font-size: 2vh;
    font-weight: bold;
    color: white;
    float: left;
}

.contingut4 {
    margin-bottom: 5vh;
    font-size: 2vh;
    font-weight: bold;
    color: white;
    float: left;
}

.contingut5 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://bnetcmsus-a.akamaihd.net/cms/gallery/0w/0WM78YHHUI4Z1509559655219.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    width: 100%;
    font-size: 3vh;
    font-weight: bold;
    height: 80vh;
}

.view{
  height: 70vh;
}

.thumbnail{
  max-height: 20vh;

}

.button {
    background-color: #0c0806;
    border: 1px solid goldenrod;
    color: goldenrod;
    padding: 16px 32px;
    margin-top: 3vh;
    margin-left: 20vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5vh;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: goldenrod;
    color: white;
}
