<nav class="navbar navbar-expand-lg navbar-dark indigo sticky-top">
    <a class="navbar-brand" [routerLink]="['/home']">(LOGO WEB)</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/home']">Inici</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/news']">Noticies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/media']">Media</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/shop']">Botiga</a>
            </li>
        </ul>
        <span class="navbar-text white-text">
            <a class="nav-link" *ngIf="isOn"><i class="zmdi zmdi-account-o"></i></a>
        </span>
    </div>
</nav>