<nav class="navbar navbar-expand-lg navbar-dark indigo sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/home']"><button mat-button>(LOGO WEB)</button></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/news']"><button mat-button class="hoverable">NOTICIES</button></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/media']"><button mat-button class="hoverable">MEDIA</button></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/shop']"><button mat-button class="hoverable">BOTIGA</button></a>
            </li>        
        </ul>
        <span class="navbar-text white-text" style="position: relative; margin-left:50%;" *ngIf="isOn">
            <a class="nav-link" ><img class="avatar" src='../../../assets/avatars/{{avatar}}'></a>
        </span>
        <span class="navbar-text white-text" style="margin-right: 2%;" *ngIf="isOn">
            <div class="btn-group" dropdown >
                <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle waves-light" mdbWavesEffect>
                </button>
                <div class="dropdown-menu dropdown-primary">
                    <a class="dropdown-item" (click)="Logout()">LOGOUT</a>
                </div>
            </div>
        </span>
        <span class="navbar-text white-text">
            <a class="nav-link" *ngIf="!isOn"><button mat-button class="login hoverable" (click)="Loginform.show()">LOGIN</button></a>
        </span>
        <span class="navbar-text white-text">
            <a class="nav-link" [routerLink]="['/register']" *ngIf="!isOn"><button mat-button class="hoverable">REGISTER</button>
            </a>
        </span>
    </div>
</nav>


<!-- MODALS -->
<!--Modal: Login Form-->
<div mdbModal #Loginform="mdb-modal" class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">

            <div class="modal-header light-blue darken-3 white-text">
                <h4 class="title"><i class="fa fa-user"></i>LOGIN</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="Loginform.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="md-form form-sm">
                    <i class="fa fa-user prefix"></i>
                    <input (keyup)="getUserFormData($event)" mdbInputDirective type="text" id="user" class="form-control">
                    <label for="form30">Nom d'usuari</label>
                </div>
                <div class="md-form form-sm">&nbsp;</div>
                <div class="md-form form-sm">
                    <i class="fa fa-lock prefix"></i>
                    <input (keyup)="getPasswordFormData($event)" mdbInputDirective type="password" id="password" class="form-control">
                    <label for="form31">Contrasenya</label>
                </div>

                <div class="text-center mt-2">
                    <button class="btn btn-info waves-light" mdbWavesEffect (click)="Login()">Entra<i class="fa fa-sign-in ml-1"></i></button>
                </div>

            </div>
            <div class="modal-footer">
                <div class="options text-center text-md-right mt-1">
                    <p>Encara no tens un compte? <a [routerLink]="['/register']" (click)="Loginform.hide()">Registra't!</a></p>
                </div>
                <button type="button" class="btn btn-outline-info ml-auto" data-dismiss="modal" (click)="Loginform.hide()" mdbWavesEffect>Close</button>
            </div>
        </div>
    </div>
</div>
                
<!-- Example de Dropdown -->
<!-- <div class="btn-group" dropdown>
    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle waves-light" mdbWavesEffect>
        Basic dropdown
    </button>
    <div class="dropdown-menu dropdown-primary">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="divider dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
    </div>
</div> -->