.navbar{
    background-image:url('../../../assets/navbarBackground.jpg');
    height: 20%;
}
.btn-group{
    background-color: transparent;
}
.avatar{
    margin-left: 80%;
    height: 10%;
    width: 10%;
}
.mat-button:hover{
    color:black;
    background-color:white;
}
.logoutIcon{
    height: 50%;
    width: 50%;
}