<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>REGISTRE UN NOU PRODUCTE A LA BOTIGA</h1>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Nom del Producte" value="" [formControl]="nom" required>
        <mat-error *ngIf="nom.invalid">{{getErrorMessageText()}}</mat-error>
      </mat-form-field><br><br>
      <mat-form-field>
        <mat-select placeholder="Tipus de Producte" [formControl]="tipus">
          <mat-option *ngFor="let tipus of tipusProductes" [value]="tipus">
            {{tipus}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="tipus.invalid">{{getErrorMessageText()}}</mat-error>
      </mat-form-field><br><br>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Descripció del Producte" value="" [formControl]="descripcio" required>
        <mat-error *ngIf="descripcio.invalid">{{getErrorMessageText()}}</mat-error>
      </mat-form-field><br><br>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Descripció Extensa del Producte" value="" [formControl]="descripcioExtensa" required>
        <mat-error *ngIf="descripcioExtensa.invalid">{{getErrorMessageText()}}</mat-error>
      </mat-form-field><br><br>
      <label>Imatge del Producte</label>
      <input type="file" (change)="getImatgeProducte($event)"><br><br>
      <label>Imatge del Producte per a la Galeria</label>
      <input type="file" (change)="getImatgeGallery($event)"><br><br>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Preu del Producte" value="" [formControl]="price" required>
        <mat-error *ngIf="price.invalid">{{getErrorMessageText()}}</mat-error>
      </mat-form-field><br><br>
      <button type="button" class="btn btn-outline-default" mdbWavesEffect (click)="addNew()">Afegir Producte</button>
    </div>
  </div>
</div>

<!-- MODALS -->
<swal #Afegit title="Perfecte!" text="Producte afegit a la botiga amb Èxit" type="success"></swal>