h1{
    margin-top: 5%;
    text-align: center;
}
.info{
    margin-top: 5%;
}
.imatge{
    text-align: center;
    margin-bottom: 5%;
}
.IMG{
    width: 600px;
    height: 600px;
}
.descripcioImatge{
    font-size: 20px;
}
.botoProducte{
    margin-top: 5%;
}