<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>{{productName}}</h1>
    </div>
  </div>
  <div class="row info">
    <div class="col-sm-8 imatge"><img class="IMG" src="../../../../assets/productsGallery/{{productImageGallery}}" alt=""></div>
    <div class="col-sm-4 descripcioImatge">
      {{productExtendedDescription}}<br>
      <form class="example-form" style="display:none;">
        <mat-form-field class="example-full-width">
          <input #name matInput value="{{productName}}">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input #image matInput value="{{productImage}}">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input #price matInput value="{{productPrice}}">
        </mat-form-field>
      </form><br>
      <b>Afegir al Carro &nbsp;<i class="fas fa-caret-right"></i>&nbsp;</b>
      <button type="button" *ngIf="isCartOn" class="btn btn-cyan waves-light botoProducte" (click)="addNewProduct(name.value, image.value, price.value)" mdbWavesEffect>
          <i class="fas fa-cart-plus"></i>
      </button>
    </div>
  </div>
</div>
<!-- MODALS -->
<swal #addProduct title="Afegit!" text="S'ha afegit correctament el producte al Carro" type="success"></swal> 