<div class="container-fluid">
  <h1><i class="far fa-star"></i> ÚLTIMES NOVETATS</h1> 
  <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-slide *ngFor="let product of lastProducts" >
      <div class="view">
        <img class="d-block w-100 imgSlider rounded" src="../../../assets/productsGallery/{{product.ImatgeGaleria}}" alt="">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">{{product.Producte}}</h3>
        </div>
    </mdb-slide>
  </mdb-carousel>         
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1><i class="fas fa-shopping-cart"></i> PRODUCTES</h1>
      <div class="md-form">
        <i class="fas fa-search prefix"></i>
        <input #searchFilter type="text" id="form1" placeholder="Buscar per nom de Producte" (keyup)="getProductsSearchFilter($event)">
        <label for="form1"></label><br>
        <button type="button" (click)="filterByTag()" class="btn btn-indigo waves-light filterButton" mdbWavesEffect>Filtrar</button>
      </div> 
    </div>    
  </div>
  <div class="row">
    <div class="col-sm-2">
      <div class="col-sm-12 caixaFiltres sticky-top">
        <h3>Tipus de Producte</h3><br>
        <ul>
          <li><mat-checkbox (change)="checkTagDigital($event)">DIGITAL</mat-checkbox></li>
          <li><mat-checkbox (change)="checkTagFisic($event)">FÍSIC</mat-checkbox></li>
        </ul><br>
        <h3>Categories dels Productes</h3>
        <mat-form-field>
          <mat-select placeholder="Categoria 1" [formControl]="tagList1">
            <mat-option *ngFor="let tag of tags" [value]="tag.Tag">
              {{ tag.Tag }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br><br><br><br><br><br>
        <mat-form-field>
          <mat-select placeholder="Categoria 2" [formControl]="tagList2">
            <mat-option *ngFor="let tag of tags" [value]="tag.Tag">
              {{ tag.Tag }}
            </mat-option>
          </mat-select>
        </mat-form-field>          
      </div>
    </div>
    <div class="col-sm-1">&nbsp;</div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="subProductes">FÍSICS</h1>           
          <!--Card-->
          <div *ngFor="let product of fisicalProducts" class="card">
            <!--Card image-->
            <div class="view hm-white-slight waves-light" mdbWavesEffect>
              <img src="../../../assets/products/{{product.Imatge}}" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
              <a [routerLink]="['/product/fisic', product.IDProd_Fisic]">
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title" style="text-align: center;">{{product.Producte}}</h4>
              <!--Text-->
              <p class="card-text" style="text-align: center;">{{product.Descripcio}}</p>
              <p class="card-text">Preu: {{product.Preu}}&nbsp;<i class="fas fa-euro-sign"></i></p>
              <p class="card-text">
                <form class="example-form" style="display:none;">
                  <mat-form-field class="example-full-width">
                    <input #name matInput value="{{product.Producte}}">
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <input #image matInput value="{{product.Imatge}}">
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <input #price matInput value="{{product.Preu}}">
                  </mat-form-field>
                </form>
                <button type="button" *ngIf="isCartOn" class="btn btn-cyan waves-light botoProducte" (click)="addNewProductToCart(name.value, image.value, price.value)" mdbWavesEffect>
                    <i class="fas fa-cart-plus"></i>
                </button>
            </div>
          </div>
          <!--/.Card-->
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 subtitolProductes">
          <h1 class="subProductes">DIGITALS</h1>
          <!--Card-->
          <div *ngFor="let product of digitalProducts" class="card">
            <!--Card image-->
            <div class="view hm-white-slight waves-light" mdbWavesEffect>
              <img src="../../../assets/products/{{product.Imatge}}" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
              <a [routerLink]="['/product/digital', product.IDProd_Digital]">
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title" style="text-align: center;">{{product.Producte}}</h4>
              <!--Text-->
              <p class="card-text" style="text-align: center;">{{product.Descripcio}}</p>
              <p class="card-text">Preu: {{product.Preu}}&nbsp;<i class="fas fa-euro-sign"></i></p>
              <p class="card-text">
                <form class="example-form" style="display:none;">
                  <mat-form-field class="example-full-width">
                    <input #name matInput value="{{product.Producte}}">
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <input #image matInput value="{{product.Imatge}}">
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <input #price matInput value="{{product.Preu}}">
                  </mat-form-field>
                </form>
                <button type="button" *ngIf="isCartOn" class="btn btn-cyan waves-light botoProducte" (click)="addNewProductToCart(name.value, image.value, price.value)" mdbWavesEffect>
                    <i class="fas fa-cart-plus"></i>
                </button>
            </div>
          </div>
          <!--/.Card-->
        </div>
      </div>
    </div>
  </div>
</div>  
<!-- MODALS -->
<swal #addProduct title="Afegit!" text="S'ha afegit correctament el producte al Carro" type="success"></swal>